<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraSetupTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CameraSetupTool.Properties.Settings>
            <setting name="DIODeviceDescription" serializeAs="String">
                <value>PCIE-1751,BID#0</value>
            </setting>
            <setting name="ImageAcquisitionInterface" serializeAs="String">
                <value>SiliconSoftware</value>
            </setting>
            <setting name="SerialCommunicationTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SerCommMaximumNumberOfTrialsForGettingResponse"
                serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ImageAcquisitionTimeoutValue" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="NumberOfChannelsInIRAndRGBImage" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberOfChannelsInColorImage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfChannelsInMonoImage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DelayBetweenCommandsInLoadingInitialSettings"
                serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowTimeTakenInStatusLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForImproperCalibrationTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIROIRectangleWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UIROIRectangleHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FocusROIRectangleWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FocusROIRectangleHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WBROIRectangleWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="WBROIRectangleHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FFCROIRectangleWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FFCROIRectangleHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LICROIRectangleWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="LICROIRectangleHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NoOfSamplesUsedInFocusStep" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MinimumFocusLearningRangeRequired" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FocusPatternCheckReferenceGrayValue" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DarkFieldCorrectionMaximumGrayLevel" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinThresholdInDeterminingGain" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MaxThresholdInDeterminingGain" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="GainStepInitialValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="GainMaximumRange" serializeAs="String">
                <value>7999</value>
            </setting>
            <setting name="MaxIterationsInSettingAutomaticGain" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WhiteBalancingLightIntensityNotOptimumMessage"
                serializeAs="String">
                <value>Light intensity is not optimum in one or more channels. Cannot perform white balancing.</value>
            </setting>
            <setting name="WhiteBalancingOffsetFromRefGrayLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FPNLightIntensityNotOptimumMessage" serializeAs="String">
                <value>Lens is not closed properly. Cannot perform FPN.</value>
            </setting>
            <setting name="PRNULightIntensityNotOptimumMessage" serializeAs="String">
                <value>Light intensity is not optimum in one or more channels. Cannot perform PRNU.</value>
            </setting>
            <setting name="PRNUMinimumGrayLevelOffset" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CalibDocumentThresholdMinimumLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CalibDocumentThresholdMaximumLimit" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="CalibDocumentWhiteRegionMinimumArea" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="UseDualLineTriggeredApplet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraDefaultSettingsFilePath" serializeAs="String">
                <value>\\Config\</value>
            </setting>
        </CameraSetupTool.Properties.Settings>
    </userSettings>
</configuration>